@CHARSET "UTF-8";
body {
	padding-top: 60px;
	padding-bottom: 40px;
	font-size:13px
}

h1 {
	font-family: "Microsoft yahei", "微软雅黑", "Tahoma", "Verdana", "Arial", "sans-serif"
}
h3{
	font-size:13px
}
.left{
	float:left
}
.right{
	float:right
}
.w120 {
	width: 120px
}
.w130 {
	width: 130px
}
.w140 {
	width: 140px
}
.w150 {
	width: 150px
}
.w200 {
	width: 200px
}
.w300 {
	width: 300px
}
.form-horizontal .control-label {
	
}



.control-label-60{
	width:60px;
	display:inline
}
.btn-group>.btn, .btn-group>.dropdown-menu, .btn-group>.popover{
	font-size:13px
	

}

/*
 * 自定义导航
 */
/*
.subnav {
	width: 100%;
	height: 36px;
	background-color: #eeeeee;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee));
	background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%);
	background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%);
	background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 );
	background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%);
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding-right: 20px;
    padding-left: 20px;
}


.subnav .nav > .active > a, .subnav .nav > .active > a:hover {
	padding-left: 13px;
	color: #777;
	background-color: #e9e9e9;
	border-right-color: #ddd;
	border-left: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
	box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
}


.subnav .nav > li > a {
	margin: 0;
	padding-top: 11px;
	padding-bottom: 11px;
	border-left: 1px solid #f5f5f5;
	border-right: 1px solid #e5e5e5;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
*/

